* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;

}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.partone {
    background: url('https://i.ibb.co/dBLbrRV/bg1.jpg');
}

.parttwo {
    background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
    color: #333;
}

.grid div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

.grid div {
    cursor: pointer;
    height: 230px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.grid div:nth-child(1) {
    grid-area: 1/1/2/span 2;
}

.grid div:nth-child(6) {
    grid-area: 2/3/3/span 2;
}

.grid div:nth-child(9) {
    grid-area: 3/3/4/span 2;
}

.grid div:nth-child(10) {
    grid-area: 4/1/5/span 2;
}

.grid h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.grid h2 span {
    font-weight: 100;
    font-size: 17px;
}

.grid p {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}